doctype html
html 
	head
		include ../settings/settings.jade
		include ./includes/partials/head.jade
		body.content
			include ./includes/modules/navigation.jade
			include ./includes/sections/index_page.jade
			include ./includes/partials/scripts.jade
		
