a(href="#").toggle.animated.slideInLeft
		i.fa.fa-bars#toggle
		
.nav-container
	h1.cpc-logo Cut Paste &amp; Copy

	nav
		a(href="/")
			i.fa.fa-home
			|   Home
		a(href="contact.html") 
			i.fa.fa-paper-plane-o
			|  Contact Us
		a(href="projects.html")
			i.fa.fa-wrench
			|  Projects

	a(href="mailto:nmhscutpastecopy@gmail.com").email-link +Email Us
