section.information-section
	- var assetsLocation = "assets/images/"
	.img-container
		img(src="#{assetsLocation}cpc-logo.png")

	h1 About Cut, Paste &amp; Copy
	
	p Cut, Paste &amp; Copy is a student run graphic design 
		| business. We use several of the Adobe Creative Suite programs, such as, 
		| Photoshop, Illustrator, and inDesign.  
		| We practice our graphic design skills both in the classroom and the 
		| real world by reaching out to the community for projects. 
	
	p We have designed business cards, t- shirts, posters, booklets, and more.  
		| To see the projects we have created,
		| vist our 
		a(href="projects.html").content-link projects page
		|. For any business inquiries, visit our 
		a(href="contact.html").content-link contact page
		|.
		

	a(href="http://ctt.ec/f91oC").twitter-link
		.twitter-btn
			i.fa.fa-twitter
			span Tweet
