section.information-section
	- var assetsLocation = "assets/images/"
	.img-container
		img(src="#{assetsLocation}cpc-logo.png")

	h1 About Cut, Paste &amp; Copy
	
	p Cut, Paste &amp; Copy is a student run graphic design 
		| business. We use several of the Adobe Creative Suite programs, such as, 
		| Photoshop, Illustrator, and inDesign.  
		| To practice our graphic design skills, we reach out to the 
		| community for real world experience.
	
	p For our past community projects we have created
		| business cards, t- shirt designs, posters, booklets, and more.  
		| If you would like to see the projects we have created,
		| vist our 
		a(href="projects.html").content-link projects page
		|. Please feel free 
		| to go to our 
		a(href="contact.html").content-link contact page
		|  to email us about any projects 
		| you would like us to create.  

	a(href="http://ctt.ec/f91oC").twitter-link
		.twitter-btn
			i.fa.fa-twitter
			span Tweet
