doctype html
html 
	head 
		title Cut Paste Copy
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="/assets/css/index.css")
		link(rel="shortcut icon" href="favicon.ico")
			
		body.content
			a(href="#").toggle.animated.slideInLeft
				i.fa.fa-bars#toggle
				
			.nav-container
				h1.cpc-logo cut paste copy

				nav
					a(href="/")
						i.fa.fa-home
						|   Home
					a(href="contact.html") 
						i.fa.fa-paper-plane-o
						|  Contact Us
					a(href="projects.html")
						i.fa.fa-wrench
						|  Projects

				a(href="mailto:nmhscutpastecopy@gmail.com").email-link +Email Us
			section.information-section
			
				- var assetsLocation = "assets/images/"
				.img-container
					img(src="#{assetsLocation}cpc-logo.png")
			
				h1 About Cut, Paste and Copy
				
				p Cut, Paste & Copy is a student run graphic design 
					| business. We use the Adobe Creative Suite programs, 
					| Photoshop, Illustrator, and inDesign.  
					| To practice our graphic design skills, we reach out to the 
					| community for real world experience.
				
				p For our past community projects we have created
					| business cards, T- shirt designs, posters, booklets, and more.  
					| If you would like to see the projects we have created,
					| vist our 
					a(href="projects.html").content-link projects page
					|. Please feel free 
					| to go to our 
					a(href="contact.html").content-link contact page
					|  to email us about any projects 
					| you would like us to create.  
					
				p This website was made with 
					i(style="color: red").fa.fa-heart
					|  by 
					a(href="http://nicholasadamou.me/").content-link Nicholas Adamou
					| .
	
				a(href="http://ctt.ec/f91oC").twitter-link
					.twitter-btn
						i.fa.fa-twitter
						span Tweet
					
			script(src="/vendors/jquery/dist/jquery.min.js")
			script(src="/assets/js/functions.js")
