doctype html
html 
	head 
		title Cut Paste Copy
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="/assets/css/index.css")
		link(rel="shortcut icon" href="../favicon.ico")
			
		body.content
			a(href="#").toggle.animated.slideInLeft
				i.fa.fa-bars#toggle
				
			.nav-container
				h1.cpc-logo cut paste copy

				nav
					a(href="/")
						i.fa.fa-home
						|   Home
					a(href="contact.html") 
						i.fa.fa-paper-plane-o
						|  Contact Us
					a(href="projects.html")
						i.fa.fa-wrench
						|  Projects

				a(href="mailto:nmhscutpastecopy@gmail.com").email-link +Email Us
			section.projects-section
			
				.jumbo-image-container
				- var assetsLocation = "../assets/images/"
					img(src="#{assetsLocation}cpc-logo.png" width="75%")
				
			
		.mini-navigation.animated.bounceInUp
			a(href="/")
				h1.logo na
			
			a(href="").title
				p.link-title Projects Page
					
			ul.next-prev-btn
				li.next-link
					a(href="" rel="next")
						i.fa.fa-arrow-right
				//li.prev-link
					//a(href="" rel="prev")
						//i.fa.fa-arrow-left
				
			script(src="/assets/js/0-tools/min/jquery-2.1.4-min.js")
			script(src="/assets/js/functions.js")
